.centered
	h4 Will you be My Valentine?
	input.no(
		type='checkbox'
		name='answer'
		id='No'
	)
	label.no(for='No') Nope
	
	input.yes(
		type='checkbox'
		name='answer'
		id='Yes'
	)
	label.yes(for='Yes') Yup
	
	.answer--yes
	.answer--no
	
.signature
	p Made with <i class="much-heart"></i> by <a href="https://codepen.io/akgunxt">Akgunxt</a>
